/**** Fonts ****/
@font-face {
  font-family: "URW DIN Arabic Demi";
  src: url("../assets/fonts/URWDINArabic-Demi.eot");
  src: url("../assets/fonts/URWDINArabic-Demi.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/URWDINArabic-Demi.woff2") format("woff2"),
    url("../assets/fonts/URWDINArabic-Demi.woff") format("woff"),
    url("../assets/fonts/URWDINArabic-Demi.ttf") format("truetype"),
    url("../assets/fonts/URWDINArabic-Demi.svg#URWDINArabic-Demi") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "URW DIN Arabic Bold";
  src: url("../assets/fonts/URWDINArabic-Bold.eot");
  src: url("../assets/fonts/URWDINArabic-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/URWDINArabic-Bold.woff2") format("woff2"),
    url("../assets/fonts/URWDINArabic-Bold.woff") format("woff"),
    url("../assets/fonts/URWDINArabic-Bold.ttf") format("truetype"),
    url("../assets/fonts/URWDINArabic-Bold.svg#URWDINArabic-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "URW DIN Arabic Medium";
  src: url("../assets/fonts/URWDINArabic-Medium.eot");
  src: url("../assets/fonts/URWDINArabic-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/URWDINArabic-Medium.woff2") format("woff2"),
    url("../assets/fonts/URWDINArabic-Medium.woff") format("woff"),
    url("../assets/fonts/URWDINArabic-Medium.ttf") format("truetype"),
    url("../assets/fonts/URWDINArabic-Medium.svg#URWDINArabic-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "URW DIN Arabic Regular";
  src: url("../assets/fonts/URWDINArabic-Regular.eot");
  src: url("../assets/fonts/URWDINArabic-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/URWDINArabic-Regular.woff2") format("woff2"),
    url("../assets/fonts/URWDINArabic-Regular.woff") format("woff"),
    url("../assets/fonts/URWDINArabic-Regular.ttf") format("truetype"),
    url("../assets/fonts/URWDINArabic-Regular.svg#URWDINArabic-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Janna LT";
  src: url("../assets/fonts/JannaLT-Regular.eot");
  src: url("../assets/fonts/JannaLT-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/JannaLT-Regular.woff2") format("woff2"),
    url("../assets/fonts/JannaLT-Regular.woff") format("woff"),
    url("../assets/fonts/JannaLT-Regular.ttf") format("truetype"),
    url("../assets/fonts/JannaLT-Regular.svg#JannaLT-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/***General****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "URW DIN Arabic Regular", Arial, Helvetica, sans-serif;
  direction: rtl;
  text-align: right;
  background-color: #f1f2f2;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

p,
.row {
  margin: 0;
}

/************************* Nav Bar****************/
.header .navbar {
  transition: all 0.8s !important;
  padding: 15.5px 1rem !important;
  font-family: "Janna LT", Arial, Helvetica, sans-serif;
}

.header .kafiil-logo-container {
  width: 49px;
  height: 49px;
  margin-left: 12px;
}

.header .navbar-burger-icon {
  background-image: url("../imgs/burger-icon.png");
  display: inline-block;
  width: 30px;
  height: 24px;
  vertical-align: middle;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header .navbar-toggler {
  margin-left: 20px;
  padding: 0 !important;
  border: none !important;
  outline: none !important;
}

.header .search-form {
  direction: ltr;
  width: 159px;
  height: 38px;
  background-color: #efefef;
  border-radius: 21px;
  padding: 7px 12px;
  border: 1px solid rgba(112, 112, 112, 0.25);
}

.header .search-box {
  text-align: right;
  width: 75%;
  background: none;
  color: #000;
  outline: none;
  border: none;
  opacity: 1;
  padding-right: 9px;
}

.header .search-box::placeholder {
  text-align: right;
  font-size: 12px;
}

.header .search-button {
  background-color: transparent;
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
  display: flex;
}

.header .nav-item-btn-general {
  height: 46px;
  border-radius: 6px;
}

.header .nav-item-btn-general:hover {
  background-color: rgba(112, 112, 112, 0.05);
}

.header .nav-item-services-btn {
  width: 95px;
  padding: 13px 12.8px 14px 8px;
  margin-left: 13px;
}

.header .nav-item-competitions-btn {
  width: 106px;
  padding: 13px 12px 14px;
  margin-left: 14px;
}

.header .nav-item-sections-btn {
  width: 99px;
  padding: 13px 12px 14px 17px;
  margin-left: 13px;
}

.header .nav-item-forum-btn {
  width: 101px;
  padding: 13px 12.6px 14px 15px;
  margin-left: 14px;
  background-color: rgba(105, 158, 35, 0.15);
}

.header .nav-item-forum-btn:hover {
  background-color: rgba(105, 158, 35, 0.15);
}

.header .nav-item-gallery-btn {
  width: 126px;
  padding: 13px 12px 14px 7px;
}

.header .nav-item-img-container-services {
  width: 22.2px;
  height: 18px;
}

.header .nav-item-img-container-competitions,
.header .nav-item-img-container-sections,
.header .nav-item-img-container-gallery {
  width: 18px;
  height: 18px;
}

.header .nav-item-img-container-forum {
  width: 21.39px;
  height: 18px;
}

.header .nav-item-txt {
  margin-right: 4px;
  font-size: 14px;
  color: #707070;
}

.header .dropdown-menu {
  left: auto;
  right: 0;
  text-align: right;
}

.header .general-user-items-img-container {
  width: 38px;
  height: 38px;
  margin-left: 15px;
}

.header .notification-counter {
  top: 5px;
  left: 6px;
  width: 16px;
  height: 16px;
  background-color: #699e23;
  border-radius: 100%;
  font-size: 11px;
  color: #fff;
}

.header .user-img {
  border: 1.5px solid #699e23;
  border-radius: 100%;
  padding: 2px;
  background-color: #fff;
}

.header .user-img img {
  border-radius: 100%;
  object-fit: cover;
}

/**********************End Nav Bar****************/
/**********************Main Page Content****************/
/******* Breadcrumb ****/
.services-page-mega-container {
  padding-top: 80px;
}

.services-page-mega-container .breadcrumb {
  background-color: transparent;
  margin-top: 40px;
  font-family: "URW DIN Arabic Medium", Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-right: 0;
}

.services-page-mega-container
  .breadcrumb
  .breadcrumb-item
  + .breadcrumb-item::before {
  padding-left: 0.5rem;
}

.services-page-mega-container .breadcrumb .breadcrumb-item {
  color: #777777;
}

.services-page-mega-container .breadcrumb .breadcrumb-item.active {
  color: #699e23;
}

/****** End Breadcrumb ****/
/**** Tabs ******/
.services-page-mega-container .nav-tabs {
  border: 1px solid #dee0e1;
  height: 51px;
  border-radius: 6px;
  display: flex;
}

.services-page-mega-container .nav-item {
  padding: 12px 30px;
  font-size: 16px;
  margin-bottom: 0;
  border-left: 1px solid #dee0e1;
  color: #777777;
  background-color: #f8f8f8;
  cursor: pointer;
}

.services-page-mega-container .active-tab {
  background-color: #fff;
  border-top: 2px solid #699e23;
}

.services-page-mega-container .tabs-left-items {
  width: 86px;
  padding: 0 10px;
}

.services-page-mega-container .tabs-left-items a {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #f8f8f8;
  padding: 7.4px 5.2px 6.2px 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-page-mega-container .tabs-left-items a:last-child {
  padding: 5px;
}

/**** End Tabs ******/
/**** Services page content *********/
/**** Service Description ********/
.services-right-part .service-description {
  border-radius: 6px;
  border: 1px solid #dee0e1;
  background-color: #fff;
  padding: 20px 20px 0;
  margin-bottom: 20px;
}

.services-right-part
  .service-description
  .service-description-rating
  .single-star-container-light {
  width: 17.6px;
  height: 16.87px;
  margin-left: 6.4px;
}

.services-right-part
  .service-description
  .service-description-rating
  .single-star-container-dim {
  width: 17.6px;
  height: 16.87px;
}

.services-right-part
  .service-description
  .service-description-rating
  .rating-number {
  font-size: 20px;
  padding: 0 5px;
  color: #505050;
}

.services-right-part
  .service-description
  .service-description-rating
  .rating-peoples {
  font-size: 14px;
  color: #777777;
}

.services-right-part
  .service-description
  .service-description-carousel-container {
  height: 327px;
  margin-top: 13px;
  direction: ltr;
}

.services-right-part
  .service-description
  .service-description-carousel-container
  .owl-item,
.services-right-part
  .service-description
  .service-description-carousel-container
  .owl-stage-outer,
.services-right-part
  .service-description
  .service-description-carousel-container
  .owl-stage {
  height: 100%;
}

.services-right-part
  .service-description
  .service-description-carousel-container
  img {
  object-fit: cover;
  border-radius: 6px;
}

.services-right-part
  .service-description
  .service-description-carousel-container
  .owl-dots {
  position: absolute;
  width: 100%;
  bottom: 15px;
  display: flex;
  justify-content: center;
}

.services-right-part
  .service-description
  .service-description-carousel-container
  .owl-dots
  .owl-dot {
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background-color: #dedede;
  margin: 0 2.5px;
  border: none;
  outline: none;
}

.services-right-part
  .service-description
  .service-description-carousel-container
  .owl-dots
  .owl-dot.active {
  background-color: #699e23;
}

.services-right-part .breadcrumb.mob-item {
  margin-top: 0px;
  font-size: 10px;
}

.services-right-part .tags-container ul li {
  position: relative;
  display: inline-block;
  padding: 5px 9px;
  margin-left: 3px;
  background-color: #eee;
  padding-right: 24px;
  font-size: 10px;
  border-radius: 4px;
  margin-top: 6px;
}

.services-right-part .tags-container ul li:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 9px;
  background-image: url(../imgs/tag.png);
  right: 10px;
  top: 8px;
}

/****** End Service Description ***/
/**** Delivery Time Section ********/
section.delivery-time {
  border-radius: 6px;
  border: 1px solid #dee0e1;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

input[type="checkbox"] {
  display: none;
  position: relative;
}

input[type="checkbox"] + label:before {
  background-color: #f0f0f0;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 0.25em 0px 10px;
  padding: 0;
  width: 16px;
  border-radius: 3px;
  border: 1px solid #eee;
}

input[type="checkbox"]:checked + label:before {
  color: #fff;
  content: "\2713";
  font-size: 12px;
  background-color: #699e23;
  text-align: center;
  padding-top: 2px;
  width: 18px;
  height: 18px;
}

section.delivery-time table tr td {
  color: #959595;
  padding: 10px 0px;
}

section.delivery-time table tr:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.delivery-time .value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  margin: -1px 0;
  width: 40px;
  height: 46px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #fff;
  -webkit-touch-callout: none;
  user-select: none;
}

.delivery-time .value-button:hover {
  cursor: pointer;
}

.delivery-time form {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f6f6f6;
  width: 160px;
}

.delivery-time form #decrease {
  margin-right: -4px;
  border-radius: 8px;
}

.delivery-time form #increase {
  margin-left: -4px;
  border-radius: 8px;
}

.delivery-time form #input-wrap {
  margin: 0px;
  padding: 0px;
}

.delivery-time input#number {
  text-align: center;
  border: none;
  margin: 0px;
  width: 71px;
  padding: 2px 0px 6px;
  font-size: 16px;
  color: #777;
  font-family: "URW DIN Arabic Medium", Arial, Helvetica, sans-serif;
  background-color: transparent;
}

.delivery-time input#number:active,
.delivery-time input#number:focus,
.delivery-time input#number:active {
  border: none;
  outline: none;
}

.delivery-time input[type="number"]::-webkit-inner-spin-button,
.delivery-time input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.delivery-time .add-to-cart-btn {
  padding-top: 7px;
  padding-bottom: 10px;
  padding-right: 40px;
  background-color: #699e23;
  color: #fff;
}

.delivery-time .add-to-cart-btn p {
  position: relative;
}

.delivery-time .add-to-cart-btn p::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url(../imgs/white-cart.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  right: -25.5px;
  top: 2.5px;
}

.delivery-time .add-to-cart-btn:hover {
  background-color: #71ab26;
}

.delivery-time .add-to-cart-btn:focus,
.delivery-time .add-to-cart-btn:active {
  outline: none;
  box-shadow: none;
}

/****End Delivery Time Section ************/
/******Service Rating ****/
.service-rating {
  position: relative;
}

.service-rating .right-part-section-title::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  background-image: url(../imgs/suggested-service-title.png);
  background-position: center;
  background-size: contain;
  top: 16px;
  right: 16px;
}

.service-rating .stars-mega-container-title .single-star-container-light {
  width: 12.38px;
  height: 11.87px;
  margin-left: 6.4px;
}

.service-rating .stars-mega-container-title .single-star-container-dim {
  width: 12.38px;
  height: 11.87px;
  margin-left: 6.4px;
}

.service-rating .drop-top-rating {
  position: relative;
  height: 30px;
  width: 116px;
  background-color: #fff;
  border: 1px solid #dee0e1 !important;
  border-radius: 3px;
  margin-left: 20px;
  padding-left: 29px;
  outline: none !important;
}

.service-rating .drop-top-rating:hover,
.service-rating .drop-top-rating:focus,
.service-rating .drop-top-rating:active {
  border: 1px solid #dee0e1 !important;
  outline: none !important;
  box-shadow: none !important;
}

.service-rating .drop-top-rating:hover {
  background-color: #fbfafa;
}

.service-rating .drop-top-rating::before {
  content: "";
  position: absolute;
  width: 9.54px;
  height: 10.5px;
  background-image: url(../imgs/setting.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  right: 11.5px;
  top: 9.5px;
}

.service-rating .drop-top-rating::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 3px;
  background-image: url(../imgs/chevron-down.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 15px;
  top: 14.4px;
}

.service-rating .dropdown-menu {
  width: 116px !important;
  min-width: 3rem;
  padding: 4px 0;
}

.service-rating .dropdown-menu .dropdown-item {
  padding: 0;
  text-align: right;
  padding-right: 25px;
  font-size: 12px;
}

.service-rating .dropdown-menu .dropdown-item:active {
  background-color: transparent;
  color: #000;
}

.service-rating .top-rating-part .progress {
  width: 55%;
  height: 4px;
  margin-top: 20px;
}

.service-rating .top-rating-part .progress .progress-bar {
  background-color: #ffc107;
}

.service-rating .single-single-star {
  width: 12.38px;
  height: 11.87px;
  margin-left: 6.4px;
}

.service-rating .single-single-star img {
  margin-top: -7px;
}

/***** End Service Rating ******/
/***** Service Left Part *******************/
.services-left-part section.bg-white {
  border-radius: 6px;
  border: 1px solid #dee0e1;
}

.services-left-part .buyer .name {
  font-size: 12px;
  color: #699e23;
}

.services-left-part .timer {
  font-size: 12px;
  color: #699e23;
}

.services-left-part .custom-icon {
  max-width: 16px;
  padding-right: 2px;
  padding-left: 2px;
}

.services-left-part .acheivements-row {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.services-left-part .acheivements-row div {
  width: 34px;
  height: 34px;
  margin: 0 4.5px;
}

.services-left-part .acheivements-icons {
  max-width: 40px;
}

.services-left-part .descreption button {
  width: 90%;
  margin: auto;
  display: block;
}

.services-left-part .buyer .label::before {
  content: "";
  position: relative;
  width: 100%;
  display: block;
  height: 1px;
  background: #e9e9e9;
  top: 3rem;
}

.services-left-part .ads-img {
  min-width: 100%;
  display: block;
  margin: auto;
}

.services-left-part .serv-icon {
  max-width: 35px;
}

.services-left-part .heart-img img {
  background: #dedede;
  padding: 4px;
  border-radius: 6px;
  width: 28px;
}

.services-left-part .custom-box {
  margin-right: 1rem;
  border: 1px solid #eeeeee;
  border-radius: 4px;
}

.services-left-part .seperator:before {
  content: "";
  background: #dedede;
  width: 2px;
  height: 25px;
  position: absolute;
  top: 2px;
}

.services-left-part .green-number {
  color: #699e23;
}

.services-left-part .number {
  color: #ffc107;
  font-size: 14px;
}

.services-left-part .gray {
  font-size: 11px;
  color: gray;
}

.services-left-part .serv-box {
  max-width: 100%;
  border-bottom: 1.5px solid #eeeeee;
  padding-bottom: 1rem;
  margin-right: 0.1rem;
}

.services-left-part .custom-link-item {
  font-size: smaller;
  color: #484848;
}

.services-left-part .buyer-top {
  padding-right: 50.5px;
  padding-top: 12px;
  color: #707070;
}

.services-left-part .buyer-top::before {
  content: "";
  position: absolute;
  width: 19.9px;
  height: 19px;
  background-image: url(../imgs/buyer-icon.png);
  right: 20.1px;
  top: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services-left-part .buyer-more {
  margin-top: 12px;
  padding-left: 20.5px;
  color: #699e23;
  font-size: 14px;
}

.services-left-part .buyer-img-container {
  margin-top: 22.5px;
  margin-right: 20px;
  width: 63px;
  height: 63px;
}

.services-left-part .buyer-stars-mega-container {
  padding-right: 20.6px;
  width: 96px;
}

.services-left-part .buyer-stars-mega-container .single-star-container-light,
.services-left-part .buyer-stars-mega-container .single-star-container-dim {
  height: 13px;
  margin: 0 1.25px;
}

.services-left-part .contact-buyer-btn {
  padding-top: 11px;
  padding-bottom: 14px;
  background-color: #699e23;
  color: #fff;
}

.services-left-part .contact-buyer-btn:hover {
  background-color: #71ab26;
}

.services-left-part .table thead th {
  border-bottom: 1px solid #d4d4d4;
}

.services-left-part .table th:first-child {
  padding-left: 0;
  padding-right: 15px;
}

.services-left-part .info-img-container {
  width: 22px;
  height: 22px;
}

.services-left-part .info-cart-img-container {
  width: 16.92px;
  height: 18.28px;
  margin-top: -24px;
}

.services-left-part .info-timer-img-container {
  width: 16.96px;
  height: 16.96px;
  margin-top: -24px;
}

.services-left-part .info-time-img-container {
  width: 16.96px;
  height: 16.96px;
  margin-top: -24px;
}

.services-left-part .share-service {
  padding-right: 50.5px;
  padding-top: 12px;
  color: #707070;
}

.services-left-part .share-service::before {
  content: "";
  position: absolute;
  width: 19.9px;
  height: 19px;
  background-image: url(../imgs/share.png);
  right: 20.1px;
  top: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services-left-part .linked-in-btn {
  width: 78px;
  height: 29px;
  background-color: #0070b2;
  border-radius: 3px;
  border: none;
  outline: none;
}

.services-left-part .linked-in-btn:hover {
  background-color: #0080cc;
}

.services-left-part .facebook-btn {
  width: 78px;
  height: 29px;
  background-color: #3b5998;
  border-radius: 3px;
  border: none;
  outline: none;
}

.services-left-part .facebook-btn:hover {
  background-color: #4264aa;
}

.services-left-part .twitter-btn {
  width: 78px;
  height: 29px;
  background-color: #55acee;
  border-radius: 3px;
  border: none;
  outline: none;
}

.services-left-part .twitter-btn:hover {
  background-color: #6cb7f0;
}

.services-left-part .instagram-btn {
  width: 78px;
  height: 29px;
  background: linear-gradient(-39.83deg, #c4279b 0%, #f68951 100%);
  border-radius: 3px;
  border: none;
  outline: none;
}

.services-left-part .instagram-btn:hover {
  background: linear-gradient(-39.83deg, #c4279b 10%, #f68951 80%);
}

.services-left-part .share-logo-circle-white {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #fff;
  margin-right: 4px;
  margin-top: 1px;
  position: relative;
}

.services-left-part .share-logo-circle-white img {
  object-fit: cover;
  position: absolute;
  top: 3px;
  right: 3px;
}

.services-left-part .share-logo-circle-white img.face-special {
  width: 30%;
  right: 5px !important;
}

.services-left-part .share-logo-circle-white img.twitter-special {
  top: 4px !important;
}

.services-left-part .share-logo-circle-white img.insta-special {
  top: 2px !important;
  right: 1.8px !important;
}

/**** Suggested Services Section*************/
.suggested-services {
  position: relative;
}

.suggested-services .right-part-section-title::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  background-image: url(../imgs/suggested-service-title.png);
  background-position: center;
  background-size: contain;
  top: 16px;
  right: 16px;
}

.suggested-services-carousal {
  direction: ltr;
}

.suggested-services-carousal .prev-arrow {
  width: 45.16px;
  height: 45.16px;
  position: absolute;
  left: -8px;
  top: 143px;
}

.suggested-services-carousal .next-arrow {
  width: 45.16px;
  height: 45.16px;
  position: absolute;
  right: -8px;
  top: 143px;
}

.suggested-services-carousal .slick-prev {
  left: 0;
  z-index: 2;
}

.suggested-services-carousal .slick-next {
  right: 0;
  z-index: 2;
}

.suggested-services-carousal .slick-prev::before,
.suggested-services-carousal .slick-next::before {
  display: none;
}

.suggested-services-carousal .slick-dots li button {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #dedede;
  margin: 1px;
}

.suggested-services-carousal .slick-dots li button::before {
  display: none;
}

.suggested-services-carousal .slick-dots li {
  margin: 4px;
  width: 7px;
  height: 7px;
}

.suggested-services-carousal .slick-dots li.slick-active button {
  background-color: #699e23;
}

.suggested-services-carousal .slick-dots {
  bottom: 22px;
}

.suggested-services-carousal .single-suggested-service {
  min-height: 332px;
  margin: 0 15px;
  border-radius: 5px;
  border: 1px solid #dee0e1;
}

.suggested-services-carousal .slick-dotted.slick-slider {
  margin: -1px;
}

.suggested-services-carousal .suggested-services-photo-gallery-carousal {
  height: 195px;
}

.suggested-services-carousal .prev-small,
.suggested-services-carousal .next-small,
.suggested-services-carousal .slick-prev,
.suggested-services-carousal .slick-next {
  width: 17px !important;
  height: 26px !important;
}

.suggested-services-carousal .like-suggest {
  top: 10px;
  left: 24px;
  width: 30px;
  height: 30px;
  z-index: 2;
}

.suggested-services-carousal .single-star-container-light {
  width: 12px;
  height: 11px;
  margin-left: 4px;
  margin-top: 4px;
}

.suggested-services-carousal .rating-number {
  font-size: 20px;
  padding: 0 5px;
  color: #ffc107;
}

.suggested-services-carousal .slick-list.draggable,
.suggested-services-carousal .slick-track {
  height: 100% !important;
}

.suggested-services-carousal .slick-slide > div:first-child {
  height: 100% !important;
}

.suggested-services-carousal .cart-suggestion {
  height: 18px;
  border-right: 2px solid #b6b6b6;
}

.suggested-services-carousal .cart-suggestion img {
  width: 18px;
}

.suggested-services-carousal .cart-suggestion span {
  margin-top: -3px;
}

.suggested-services-carousal .kafil-sugest-btn {
  width: 80px;
  height: 21px;
  background-color: #699e23;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 2px 4px;
  font-size: 10px;
  font-family: "URW DIN Arabic Regular", Arial, Helvetica, sans-serif;
  left: 15px;
  bottom: 16px;
}

.suggested-services-carousal .user-suggestion-image {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

/****End Suggested Services Section**********/
/**** End Services page content ******************/
/**** Footer *****************/
footer h5 {
  font-size: 20px;
  font-family: "URW DIN Arabic Medium", Arial, Helvetica, sans-serif;
  color: #494949;
}

footer p a {
  font-size: 14px;
  font-family: "URW DIN Arabic Regular", Arial, Helvetica, sans-serif;
  position: relative;
  color: #707070;
}

footer p a::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 8px;
  background-image: url(../imgs/footer-p.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: 7px;
  right: -17px;
}

footer .visa {
  width: 40px;
  height: 12px;
}

footer .master-card {
  width: 32px;
  height: 20px;
}

footer .paypal {
  width: 54px;
  height: 13px;
}

footer .fawry {
  width: 39px;
  height: 28px;
}

footer .vodafone-cash {
  width: 18px;
  height: 19px;
}

/*****************************/
.fo-social-img {
  max-width: 40px;
}

.fo-social-img img {
  max-width: 30px;
}

/***** Comments Style ****/
.comment-item h4 {
  font-size: 16px;
  padding-top: 11px;
}

.comment-item .date,
.comment-item .time {
  font-size: 10px;
  position: relative;
  color: #959595;
  display: inline-block;
  padding-right: 18px;
}

.comment-item .time:before {
  content: "";
  position: absolute;
  background-image: url(../imgs/clock-icon.png);
  width: 12px;
  height: 12px;
  right: 9px;
  top: 2px;
}

.comment-item .time {
  border-right: 1px solid #95959587;
  padding-right: 28px;
  margin-right: 7px;
}

.comment-item .date:before {
  content: "";
  position: absolute;
  background-image: url(../imgs/calender.png);
  width: 12px;
  height: 13px;
  right: 2px;
  top: 2px;
}

.comment-item .like,
.comment-item .dis-like {
  font-size: 12px;
  position: relative;
  color: #505050;
  display: inline-block;
  padding-right: 18px;
}

.comment-item .like img {
  margin-top: -6px;
  margin-left: 6px;
}

.comment-item .dis-like img {
  margin-top: 5px;
  margin-left: 6px;
}

.comment-item .stars {
  background-color: #fbfbfb;
  padding: 10px 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  margin: 20px 5px;
}

.comment-item .stars p {
  color: #505050;
  font-size: 10px;
}

.comment-item .stars .col-md-3 {
  padding: 0px 13px;
  position: relative;
}

.comment-item .stars .col-md-3:not(:last-child):after {
  content: "";
  position: absolute;
  background-color: #cdcdcd;
  width: 1px;
  height: 16px;
  left: 2px;
  top: 2px;
}

.comment-item .stars .col-md-3:last-child {
  border: 0;
}

.comment-item .stars .w-fit {
  margin: 0px auto;
}

.comment-item .desc p {
  font-size: 12px;
  text-align: justify;
}

.comment-item {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.reply-comment {
  border-top: 1px solid #eee;
  padding-top: 20px;
  margin-top: 23px;
  padding-right: 29px;
  position: relative;
}

.reply-comment:before {
  content: "";
  position: absolute;
  background-color: #cdcdcd;
  width: 2px;
  height: 100%;
  right: 16px;
  top: 2px;
}

.like-container-mobile {
  padding: 10px 0 0px 0px;
  border-top: 2px solid #eee;
  margin-top: 20px;
  display: none;
}

.like-container-mobile .col-6 {
  text-align: center;
  font-size: 18px;
}

.like-container-mobile .col-6.dis-like {
  border-right: 1px solid #959393;
}

/******* Media Queries**************************/
/** Max Mobile Nav Bar **/
@media screen and (max-width: 1200px) {
  /*** Nav Bar ***/
  .navbar-collapse {
    padding-top: 20px;
  }
  .navbar-nav {
    padding-top: 20px;
    padding-bottom: 15px;
  }
  /**** End Nav Bar ***/
  /*** breadcrumb****/
  .services-page-mega-container .breadcrumb {
    padding: 0;
    margin-top: 20px;
  }
  .services-page-mega-container .breadcrumb .not-active {
    display: none;
  }
  .services-page-mega-container .breadcrumb .active::before {
    display: none;
  }
  .services-page-mega-container .breadcrumb .breadcrumb-item.active {
    color: #777777;
  }
  .services-page-mega-container .breadcrumb .breadcrumb-item.active.mob-item {
    color: #699e23;
    width: 90px;
  }
  /******end breadcrumb****/
  /***** Tabs ****/

  .services-page-mega-container .nav-item {
    padding: 12px 5px;
  }
  .services-page-mega-container .nav-tabs {
    overflow-x: scroll;
  }
  .services-page-mega-container .nav-tabs::-webkit-scrollbar {
    display: none;
  }
  .services-page-mega-container .nav-tabs {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .services-page-mega-container .tab-item {
    min-width: 120px;
    text-align: center;
  }
  .services-page-mega-container .tabs-left-items-container {
    display: none !important;
  }
  /**** End Tabs ***/
  /*** Service Description Section ***/
  .services-right-part .service-description .service-description-rating {
    display: none !important;
  }
  .services-right-part .right-part-section-title {
    width: 65%;
    font-size: 13px;
  }
  .services-right-part
    .service-description
    .service-description-rating.mob-item {
    display: flex !important;
  }
  .services-right-part
    .service-description
    .service-description-rating.mob-item
    .rating-number {
    font-size: 13px;
    margin-top: -3px;
  }
  .services-right-part
    .service-description
    .service-description-rating.mob-item
    .rating-peoples {
    font-size: 12px;
    margin-top: -2px;
  }
  .single-star-container-light,
  .single-star-container-dim {
    width: 11.05px;
    height: 10.5px;
    margin-top: -7px;
  }
  .service-description-carousel-container {
    height: 265px;
  }
  /*** End Service Description Section ***/
  .delivery-time table {
    font-size: 12px;
  }
  .delivery-time table td {
    max-width: 120px;
  }
  .services-left-part .linked-in-btn,
  .services-left-part .facebook-btn,
  .services-left-part .twitter-btn,
  .services-left-part .instagram-btn {
    width: 70px;
    margin-top: 5px;
  }
  .serv-box > div > img {
    width: 65px;
    height: 65px;
  }
  .serv-box > div:nth-child(2) > p {
    font-size: 12px;
  }
  .serv-box .col-9 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .services-left-part .green-number {
    font-size: 10px;
  }
  .buyer-with-stars-mob {
    flex-direction: column;
  }
  .buyer-with-stars-mob p {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .buyer-with-stars-mob > div {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-right: 16.6px;
  }
  .buyer-img-container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .services-left-part .buyer .name,
  .services-left-part .timer {
    text-align: center;
  }
  .service-rating .right-part-section-title {
    padding-right: 3rem !important;
    padding-left: 0 !important;
  }
  .service-rating .stars-mega-container-title.d-flex.py-3 {
    position: absolute;
    top: 65px;
    width: 100%;
    z-index: 2;
    justify-content: center;
  }
  .service-rating
    .stars-mega-container-title.d-flex.py-3
    .single-star-container-light,
  .service-rating
    .stars-mega-container-title.d-flex.py-3
    .single-star-container-dim {
    margin-top: -1px;
  }
  .service-rating .top-rating-part .right-top-rating {
    margin-top: 50px;
  }
  .service-rating .top-rating-part .progress {
    margin-top: 11px;
    width: 45%;
  }
  .service-rating .top-rating-part .rate-number {
    padding-top: 0 !important;
  }
  .target-on-mob-1 {
    margin-top: 0.5rem;
  }
  .target-on-mob-2 {
    flex-direction: column !important;
    justify-content: center !important;
  }
  .target-on-mob-2 form {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .target-on-mob-2 div {
    justify-content: center;
    margin: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .comment-item .stars .col-md-3 {
    padding: 0;
    margin: 10px 0;
  }
  .like-container-mobile {
    display: flex;
  }
  .likes-container-desktop {
    display: none;
  }
  .comment-item .stars p {
    color: #505050;
    float: right;
    font-size: 12px;
    margin-top: -4px;
  }
  .comment-item .stars .w-fit {
    float: left;
  }
  .comment-item .stars .col-md-3:after {
    display: none;
  }
  .comment-item .stars {
    background-color: white;
    border: none;
  }
}

/***** End Comments Style ***/
/******* Media Queries**************************/
/** Max Mobile Nav Bar **/
@media screen and (max-width: 1200px) {
  /*** Nav Bar ***/
  .navbar-collapse {
    padding-top: 20px;
  }
  .navbar-nav {
    padding-top: 20px;
    padding-bottom: 15px;
  }
  /**** End Nav Bar ***/
  /*** breadcrumb****/
  .services-page-mega-container .breadcrumb {
    padding: 0;
    margin-top: 20px;
  }
  .services-page-mega-container .breadcrumb .not-active {
    display: none;
  }
  .services-page-mega-container .breadcrumb .active::before {
    display: none;
  }
  .services-page-mega-container .breadcrumb .breadcrumb-item.active {
    color: #777777;
  }
  .services-page-mega-container .breadcrumb .breadcrumb-item.active.mob-item {
    color: #699e23;
    width: 90px;
  }
  /******end breadcrumb****/
  /***** Tabs ****/

  .services-page-mega-container .nav-item {
    padding: 12px 5px;
  }
  .services-page-mega-container .nav-tabs {
    overflow-x: scroll;
  }
  .services-page-mega-container .nav-tabs::-webkit-scrollbar {
    display: none;
  }
  .services-page-mega-container .nav-tabs {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .services-page-mega-container .tab-item {
    min-width: 120px;
    text-align: center;
  }
  .services-page-mega-container .tabs-left-items-container {
    display: none !important;
  }
  /**** End Tabs ***/
  /*** Service Description Section ***/
  .services-right-part .service-description .service-description-rating {
    display: none !important;
  }
  .services-right-part .right-part-section-title {
    width: 65%;
    font-size: 13px;
  }
  .services-right-part
    .service-description
    .service-description-rating.mob-item {
    display: flex !important;
  }
  .services-right-part
    .service-description
    .service-description-rating.mob-item
    .rating-number {
    font-size: 13px;
    margin-top: -3px;
  }
  .services-right-part
    .service-description
    .service-description-rating.mob-item
    .rating-peoples {
    font-size: 12px;
    margin-top: -2px;
  }
  .single-star-container-light,
  .single-star-container-dim {
    width: 11.05px;
    height: 10.5px;
    margin-top: -7px;
  }
  .service-description-carousel-container {
    height: 265px;
  }
  /*** End Service Description Section ***/
  .delivery-time table {
    font-size: 12px;
  }
  .delivery-time table td {
    max-width: 120px;
  }
  .services-left-part .linked-in-btn,
  .services-left-part .facebook-btn,
  .services-left-part .twitter-btn,
  .services-left-part .instagram-btn {
    width: 70px;
    margin-top: 5px;
  }
  .serv-box > div > img {
    width: 65px;
    height: 65px;
  }
  .serv-box > div:nth-child(2) > p {
    font-size: 12px;
  }
  .serv-box .col-9 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .services-left-part .green-number {
    font-size: 10px;
  }
  .buyer-with-stars-mob {
    flex-direction: column;
  }
  .buyer-with-stars-mob p {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .buyer-with-stars-mob > div {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-right: 16.6px;
  }
  .buyer-img-container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .services-left-part .buyer .name,
  .services-left-part .timer {
    text-align: center;
  }
  .service-rating .right-part-section-title {
    padding-right: 3rem !important;
    padding-left: 0 !important;
  }
  .service-rating .stars-mega-container-title.d-flex.py-3 {
    position: absolute;
    top: 65px;
    width: 100%;
    z-index: 2;
    justify-content: center;
  }
  .service-rating
    .stars-mega-container-title.d-flex.py-3
    .single-star-container-light,
  .service-rating
    .stars-mega-container-title.d-flex.py-3
    .single-star-container-dim {
    margin-top: -1px;
  }
  .service-rating .top-rating-part .right-top-rating {
    margin-top: 50px;
  }
  .service-rating .top-rating-part .progress {
    margin-top: 11px;
    width: 45%;
  }
  .service-rating .top-rating-part .rate-number {
    padding-top: 0 !important;
  }
  .target-on-mob-1 {
    margin-top: 0.5rem;
  }
  .target-on-mob-2 {
    flex-direction: column !important;
    justify-content: center !important;
  }
  .target-on-mob-2 form {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .target-on-mob-2 div {
    justify-content: center;
    margin: 20px 0;
  }
  aside {
    padding: 1rem 0 0 0 !important;
  }
}

/*** Min Mobile Nav Bar**/
@media screen and (min-width: 1200px) {
  .navbar-nav {
    margin: 0 26px 0 51px;
    border-left: 1px solid rgba(112, 112, 112, 0.3);
    border-right: 1px solid rgba(112, 112, 112, 0.3);
    padding: 0 19px !important;
  }
  .nav-top-zero {
    top: 0;
  }
  .nav-top-neg-80 {
    top: -80px;
  }
  .services-page-content .services-right-part {
    padding: 0 0 0 30px !important;
  }
  .tabs-left-items.mob-item {
    display: none !important;
  }
  .services-right-part
    .service-description
    .service-description-rating.mob-item {
    display: none !important;
  }
  .target-on-desktop-1 {
    display: none;
  }
  aside {
    padding: 0 !important;
  }
}

/**********************************************/
/******* General Classes ***/
.hidden {
  display: none;
}

.uru-dun-arabic-demi {
  font-family: "URW DIN Arabic Demi", Arial, Helvetica, sans-serif;
}

.uru-dun-arabic-bold {
  font-family: "URW DIN Arabic Bold", Arial, Helvetica, sans-serif;
}

.uru-dun-arabic-medium {
  font-family: "URW DIN Arabic Medium", Arial, Helvetica, sans-serif;
}

.uru-dun-arabic-regular {
  font-family: "URW DIN Arabic Regular", Arial, Helvetica, sans-serif;
}

.janna-lt {
  font-family: "Janna LT", Arial, Helvetica, sans-serif;
}

.color-gray-1 {
  color: #494949;
}

.color-gray-2 {
  color: #cccccc;
}

.color-gray-3 {
  color: #959595;
}

.color-gray-4 {
  color: #707070;
}

.color-gray-5 {
  color: #505050;
}

.color-gray-7 {
  color: #777777;
}

.color-black-2 {
  color: #202020;
}

.color-black-3 {
  color: #262626;
}

.color-main-green {
  color: #699e23;
}

.gold {
  color: #ffc107;
}

.font-size-25 {
  font-size: 25px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-17 {
  font-size: 17px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-13 {
  font-size: 13px !important;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-8 {
  font-size: 8px;
}

.general-line {
  border-top: 1.5px solid #eeeeee;
}

.right-part-section-title {
  color: #262626;
  font-family: "URW DIN Arabic Bold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: fit-content;
}

.section-style {
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #dee0e1;
}

.dir-rtl {
  direction: rtl;
}

.dir-ltr {
  direction: ltr;
}

.w-fit {
  width: fit-content;
}

.footer-custom-logo {
  width: 26px;
  height: 26px;
}

.bg-main-green {
  background-color: #699e23;
}
